.repeaterblock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15%;
    margin-top: 2.5%;
  }
  
  .repeaterblock_item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -1rem;
  }
  
  .repeaterblock_item__wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  
  img {
    width: 100%;
    max-width: 50%;
    margin-right: 1rem;
  }